// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "./bootstrap.min.css";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
    font-size: 11px;
}

.btn {
    border-radius: 2px;
}

.form-control {
    border-radius: 2px;
}

.form-control:hover, .form-control:focus {
    border-color: #1890FF;
}

.btn-primary {
    border-color: #1890FF;
    background-color: #1890FF;
}

.table-row-red {
    background-color: rgba(0, 255, 34, 0.3);
    border: rgba(0, 255, 34, 1);
}

.table-row-warning {
    background-color: rgba(255, 200, 0, 0.3);
    border: rgba(255, 200, 0, 1);
}

.table-row-danger {
    background-color: rgba(255, 0, 0, 0.3);
    border: rgba(255, 0, 0, 1);
}

.table-row-primary {
    background-color: rgba(96, 162, 248, 0.3);
    border: rgb(96, 162, 248);
}

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 200px;
    //text-align: center;
    padding: 20px;
}

.steps-action {
    margin-top: 24px;
}

.rapel-list-item {
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 10px;
    transition: .5s all;
}

.rapel-list-item:hover {
    border: 1px solid #1890ff;
}

.sign-in {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;

        &-logo {
            padding: 60px 20px;

            img {
                width: 300px;
            }
        }

        &-tabs {
            background-color: $background-light;

            .ant-tabs {
                width: 90vw;

                @media (min-width: $media-breakpoint-up-lg) {
                    width: auto;
                }
            }

            .ant-tabs-nav-container {
                height: 60px !important;
            }

            .ant-tabs-nav {
                width: 100%;
            }

            .ant-tabs-tab {
                width: 50%;
                height: 60px !important;
                text-align: center;
                font-size: 0em + 19px / $defaultFontSize;
                border-top: 4px solid $border-grey !important;
                border-radius: 0 !important;
                margin: 0 !important;

                @media (min-width: $media-breakpoint-up-lg) {
                    width: 220px;
                    font-size: 0em + 23px / $defaultFontSize;
                }

                &:hover {
                    color: $font-grey-dark;
                }

                &:before {
                    content: none;
                }

                span {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .ant-tabs-tab-active {
                color: $primary-color !important;
                border-top: 4px solid $primary-color !important;
                border-radius: 0 !important;
                border-right: 0 !important;
                border-left: 0 !important;
            }

            .ant-tabs-content {
                padding: 0 16px 16px;
                text-align: center;
            }
        }
    }
}

.login-form {
    .ant-form-item:last-of-type {
        margin: 0;
    }

    &__input {
        .ant-input-prefix {
            i {
                font-size: 0em + 22px / $defaultFontSize;
            }
        }

        input {
            font-size: $defaultFontSize;

            &:focus {
                border-color: $primary-color;
                box-shadow: none;
            }
        }
    }

    &__button {
        width: 100%;
        font-size: 0em + 22px / $defaultFontSize;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;
        margin-top: 20px;

        &:hover {
            background-color: $primary-color-hover;
            color: $font-light;
        }

        &:focus,
        &:active {
            background-color: $primary-color;
            color: $font-light;
            border: 0;
        }
    }
}

.list-users {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &-switch {
            display: flex;
            align-items: center;

            > button {
                margin-right: 20px;
            }
        }
    }

    .users-active {
        background-color: white;
        padding: 10px 20px;

        .ant-list-item-meta {
            display: flex;
            align-items: center;
        }
    }
}

.login {
    width: 90%;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}

.fixed-widgets {
    position: fixed;
    right: 32px;
    top: 70px;
    z-index: 2147483640;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    cursor: pointer;

    .fixed-widgets-avatar {
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
        box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
        -webkit-transition: color .3s;
        transition: color .3s;
    }
}


@media (min-width: 700px) {
    .login {
        width: 500px;
    }
}
